body, div, h1, h2, h3, h4, p, a, ul, li, input, textarea{
  margin: 0;
  padding: 0;
  border: 0;
  font-family: Arial, sans-serif;
}

.top-bar {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: rgb(246, 200, 110);
  padding: 5px 10px;
}

.top-bar-logo{
}

.top-bar-logo > img {
  height: 35px;
}

.profile-info {
  display: flex;
  justify-content: center;
  padding: 10px;
}
.profile-info--container {
  display: flex;
  width: 700px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

}

.profile-info--pic {
  padding: 10px;
  max-height: 255px;
}

.profile-info--details {
  padding: 10px 10px;
}

.profile-info--details p {
  padding: 5px 0;
}

.profile-info--details a {
  text-decoration: underline;
  color: black;
}

.profile-info--details-login {
  font-size: 22px;
  color: rgb(180, 180, 180);
}

.profile-info--details--followers {
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
}

.repos {
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.repo-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border: 1px solid rgb(228, 228, 228);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.06), 0 1px 1px rgba(0, 0, 0, 0.13);
  border-radius: 5px;
  padding: 10px;
  width: 90%;
  margin-top: 5px;
}

.repo-left {
  max-width: 500px;
  padding-right: 10px;
}

.repo-right {
  width: 400px;
}

.repo-info {
  padding-bottom: 10px;
}

.repo-info h4{
  display: block;
  width: 500px;
  color: rgb(107, 107, 107);
  font-weight: normal;
}

.repo-stats {
  display: flex;
  padding-bottom: 5px;
}

.repo-stats h4 {
  padding-right: 20px;
}

.issue-open{
  font-size: 14px;
  color: rgb(49, 163, 78);
}

.issue-closed{
  font-size: 14px;
  color: rgb(212, 25, 25);
}

.issue-text{
  font-size: 14px;
}

.issue-btns-container{
  display: flex;
}

.issue-btn{
  display: block;
  width: 65px;
  background-color: rgb(246, 200, 110);
  padding: 3px;
  margin: 0 3px 3px 0;
  border-radius: 4px;
  font-size: 12px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.issue-view-container{
  display: flex;
  flex-direction: column;
}

.issue-view-container label {
  display: block;
  width: 150px;
  font-size: 14px;
  font-weight: bold;
}

.issue-view-container input, .issue-view-container textarea {
  width: 350px;
  font-size: 14px;
  border: 1px solid rgb(223, 223, 223);
}

.issue-view-container textarea {
  height: 75px;
}

.fa-pencil {
  cursor: pointer;
}
